/* Styles for the SellerRegistration component */
.SellerRegistration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 120vh;
    padding: 2rem;
    background: linear-gradient(to bottom, #4facfe, #00f2fe);
    /* Updated background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
}

.SellerRegistration h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}

.SellerRegistration form {
    display: grid;
    /* Change to grid layout */
    grid-template-columns: repeat(2, 1fr);
    /* Divide into 2 columns */
    gap: 1rem;
    /* Add gap between elements */
    width: 120%;
    max-width: 800px;
    /* Increase max-width for better spacing */
}

.SellerRegistration label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.SellerRegistration input,
.SellerRegistration select {
    width: 90%;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

.SellerRegistration input:focus,
.SellerRegistration select:focus {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.SellerRegistration select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 8'%3E%3Cpath fill='%23333' d='M13.708 0l-3.708 7.708L6.708 8l-3.708-7.708.708-.708L6 6.293l3.708-3.708.708.708z'/%3E%3C/svg%3E");
    background-repeat: no-repeat, repeat;
    background-position: right 0.75rem center;
    background-size: 12px 8px;
}

.SellerRegistration button {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #ff5e62;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.SellerRegistration button:hover {
    background-color: #e0444d;
    transform: translateY(-2px);
}

.SellerRegistration .error {
    font-size: 0.8rem;
    color: #ff5e62;
    margin-top: 0.2rem;
}

@media (max-width: 768px) {
    .SellerRegistration h2 {
        font-size: 2rem;
    }

    .SellerRegistration label,
    .SellerRegistration input,
    .SellerRegistration select,
    .SellerRegistration button {
        margin-bottom: 1rem;
    }

    .SellerRegistration .error {
        margin-top: 0.5rem;
    }
}

@media (max-width: 480px) {
    .SellerRegistration form {
        grid-template-columns: 1fr;
        /* Change to single column layout for smaller screens */
    }

    .SellerRegistration h2 {
        font-size: 1.8rem;
    }
}